
.footer-nav {
    margin: 0;
    padding: 20px 25%;
    display: flex;
    justify-content: space-between;
    
  }
  
.footer-nav li {
    padding: 0px 10px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 1rem;
    list-style: none;
        width: 80px;
}
@media only screen and (max-width: 700px){
    .footer-nav{
        padding: 15px 18.5%;
    }
    .footer-nav li{
        padding: 0px 7.5px;
        width: 60px;
        font-size: 0.85rem;
    }

}

@media only screen and (max-width: 500px){
    .footer-nav{
        padding: 10px 14.5%;
    }
    .footer-nav li{
        padding: 0px 5px;
        width: 40px;
        font-size: 0.75rem;
    }

}
